{% extends 'shopapp/base_index.html' %}

{% block Title %}
Сформировать продукт
{% endblock %}

{%  block Body %}
<div class="row justify-content-center mb-5">
    <div class="col-4 text-center">
        <h3>Создать продукт</h3>
    </div>
</div>

<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">Создать</button>
        <a href="{% url 'shopapp:products' %}" class="btn btn-primary">Вернуться к продуктам</a>
    </form>
</div>

{% endblock %}